MONGODB_URI=mongodb://localhost:27017/tatacar
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/tatacar

JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_KEY=-----BEGIN RSA PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END RSA PRIVATE KEY-----

QUOTE_SHEET_ID=your_google_spreadsheet_id_here
QUOTATION_FOLDER_ID=your_google_drive_folder_id_here
